<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  
  <!-- 
    hero-image: https://gallery.mailchimp.com/b6b8c26ff97a7240ec68e5e4b/images/68bac409-eb07-449d-aa4e-02f4d20ea883.jpg
    
    t-shirt: https://gallery.mailchimp.com/b6b8c26ff97a7240ec68e5e4b/images/6a9e9bff-ccfe-486c-86c4-923cf2a2f32b.jpg
    
    sneakers:     https://gallery.mailchimp.com/b6b8c26ff97a7240ec68e5e4b/images/d045ef8e-c5c3-4c91-a736-931fdec2c184.jpg
    
    shorts: https://gallery.mailchimp.com/b6b8c26ff97a7240ec68e5e4b/images/bbcf016c-f597-4d1a-976b-1577e79767b4.jpg
    -->
    <table class="body">
      <tr>
        <td>
          <spacer size="65"></spacer>
          <center>
            <container>
              <row>
                <columns large="6">
                <a href="#" class="header-link">
                  <img src="https://s7.wampi.ru/2018/10/06/Headereb93de9973e2bce0.png" alt="Текст">
                </a>
                </columns>
              </row>
            </container>
            <container>
               <spacer size="35"></spacer>
              <row>
                <columns large="6">
                  <center>
                    <span class="one-bag">
                    ONE BAG, 2PACK, THREE WAYS.
                    </span>
                  </center>
                </columns>
               
              </row>
            </container>
            <container>
              <row>
                
                <columns large="6">
                  <spacer size="39"></spacer>
                  <center>
                    <img src="https://s7.wampi.ru/2018/10/06/top_banner.jpg" alt="Картинка">
                  </center>
                </columns>
              </row>
            </container>
            <container>
              <row>
                <columns large="6">
                    <img src="https://s7.wampi.ru/2018/10/06/20.png" alt="Картинка">
                    <spacer size="10"></spacer>
                  <p class="loren-text">
                      Lorem Ipsum is simply dummy text of the printing <br>
                      and typesetting industry. Lorem Ipsum has been the <br>
                      industry's standard dummy text ever since the <br>
                      1500.
                  </p>
                  <a href="#">
                    <img src="https://s7.wampi.ru/2018/10/06/iphone-now.png" alt="ссылка">
                  </a>
                </columns>
                <columns large="6">
                  <img src="https://s7.wampi.ru/2018/10/06/keys.png" alt="Картинка">
                  <spacer size="10"></spacer>
                  <p class="loren-text">
                      Lorem Ipsum is simply dummy text of the printing <br>
                      and typesetting industry. Lorem Ipsum has been the <br>
                      industry's standard dummy text ever since the <br>
                      1500.
                  </p>
                  <a href="#">
                      <img src="https://s7.wampi.ru/2018/10/06/iphone-now.png" alt="ссылка">
                    </a>
                </columns>
              </row>
            </container>
            <container>
              <row>
               <columns>
                <hr>
                <p class="iphon-text">
                    IPHONE CASES
                </p>
                <hr>
              </columns>
              </row>
            </container>
            <container>
              <spacer size="35"></spacer>
              <row>
                  <center>
                  <columns>
                      <a href="#">
                    <img src="https://s7.wampi.ru/2018/10/06/prod.jpg" alt="картинка">
                  </a>
                  <spacer size="15"></spacer>
                  <p class="link-text-title">
                      SPORT IPHONE 5 CASE
                  </p>
                  <p class="link-text-subtitle">
                      HERITAGE
                  </p>
                </columns>
                <columns>
                    <a href="#">
                    <img src="https://s7.wampi.ru/2018/10/06/prod2.jpg" alt="картинка">
                  </a>
                  <spacer size="15"></spacer>
                  <p class="link-text-title">
                      IPHONE FOLD WALLET
                  </p>
                  <p class="link-text-subtitle">
                      SMOKE
                  </p>
                </columns>
                <columns>
                    <a href="#">
                      <img src="https://s7.wampi.ru/2018/10/06/prod.jpg" alt="картинка">
                  </a>
                  <spacer size="15"></spacer>
                  <p class="link-text-title">
                      DRAW IPHONE CASE
                  </p>
                  <p class="link-text-subtitle">
                      STAND / HERITAGE
                  </p>
                </columns>
              </center>
              </row>
            </container>
            <container>
              <row>
                  <columns>
                     <spacer size="45"></spacer>
                    
                      <a href="#">
                        <center>
                          <img src="https://s7.wampi.ru/2018/10/06/iphone-now.png" alt="ссылка">
                        </center>
                      
                  </a>
                   
                  </columns>
              </row>
            </container>
            <container>
              <row>
                <center>
                  <columns>
                    <spacer size="43"></spacer>
                    <a href="#">
                    <img src="https://s7.wampi.ru/2018/10/06/portfolio.png" alt="картинка">  
                    </a>
                  </columns>
                </center>
              </row>
            </container>
            <container>
              <row>
                <columns>
                  <p class="portfolio-text">
                      There are many variations of passages of Lorem Ipsum available, but the majority have <br>
                       suffered alteration in some form, by injected humour, or randomised words which don't <br>
                        look even slightly believable. If you are going to use a passage.
                  </p>
                  <a href="#" class="last-link">
                    Read more
                  </a>
                </columns>
              </row>
            </container>
            <container>
                <spacer size="20"></spacer>
              <row>
                    <columns class="footer">
                      <spacer size="20"></spacer>
                      <center>
                        <a href="#" class="footer-link">Terms |</a>
                        <a href="#" class="footer-link">Privacy |</a>
                        <a href="#" class="footer-link">Unsubscribe</a>
                      </center>
                    </columns>
                    <spacer size="50"></spacer>
              </row>
            </container>
          </center>
        </td>
      </tr>
    </table>
</body>
</html>